server:
  port: 8989
  servlet:
    context-path: /
  undertow:
    max-http-post-size: -1
    buffer-size: 512
    direct-buffers: true
    threads:
      io: 8
      worker: 256
  shutdown: immediate
eureka:
  client:
    register-with-eureka: false
    serviceUrl:
      defaultZone: http://localhost:8061/eureka
core:
  attachment:
    host:
      download: 'https://api.dnict.vn/v2/core'
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/dev_core_service
    username: postgres
    password: DnictPro@123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        order_by:
          default_null_ordering: last
  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false
      WRITE_DATES_AS_TIMESTAMPS: false
  data:
    redis:
      host: localhost
      port: 6379
      password: 'DnictPro@123'
      timeout: 10s
      lettuce:
        pool:
          max-active: 8
          max-wait: -1
          max-idle: 8
          min-idle: 0
      ssl:
        enabled: false
  cache:
    type: redis
    redis:
      time-to-live: 3600000
      cache-null-values: true
      enable-statistics: false

captcha:
  enable: true
  type: CHAR
  category: CIRCLE
  numberLength: 1
  charLength: 4

sa-token:
  token-name: X-Token
  # Whether to allow concurrent logins from the same account (if true, allow simultaneous logins, if false, new logins will replace old logins)
  is-concurrent: true
  # When multiple people log in to the same account, whether to share a token (if true, all logins share a token, if false, a new token is created for each login)
  is-share: true
  is-log: true
  # jwt
  jwt-secret-key: DnictPro@123
  token-style: uuid


redisson:
  keyPrefix: 'tr'
  threads: 4
  nettyThreads: 8
  singleServerConfig:
    clientName: ${app.name}
    connectionMinimumIdleSize: 8
    connectionPoolSize: 32
    idleConnectionTimeout: 10000
    timeout: 3000
    subscriptionConnectionPoolSize: 50

client:
  notification-service:
    url: http://api.dev.dnict.vn/v1/notification
