core:
  attachment:
    host:
      download: "https://api.dnict.vn/v2/core"

spring:
  jpa:
    properties:
      hibernate:
        format_sql: true
  data:
    redis:
      lettuce:
        pool:
          max-active: 8
          max-wait: -1
          max-idle: 8
          min-idle: 0
  boot:
    admin:
      client:
        enabled: true
        url: http://localhost:9090
        instance:
          service-host-type: IP
          metadata:
            username: ${spring.boot.admin.client.username}
            userpassword: ${spring.boot.admin.client.password}
        username: admin
        password: DnictPro@123

logging:
  level:
    vn.tr: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
